@font-face {
    font-family: 'Archivo-Regular', sans-serif;
    src: url("../fonts/Archivo/Archivo-Regular.woff") format("woff"), url("../fonts/Archivo/Archivo-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Archivo-Bold', sans-serif;
    src: url("../fonts/Archivo/Archivo-Bold.woff") format("woff"), url("../fonts/Archivo/Archivo-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}